{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
<header class="site-header">
    {{> site-header}}
{{!--
    {{> header-background background=feature_image}} --}} {{!--Special header-image.hbs partial to generate the background image--}}

        <div class="inner site-header-content">
            <h1 class="site-title">{{name}}</h1>
            <h2 class="site-description">
                {{#if description}}
                {{description}}
{{!--
                {{else}}
                A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
--}}
                {{/if}}
            </h2>
        </div>
{{!--
    </div>
--}}
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        {{#get "pages" filter="tags:{{name}}" order="published_at DESC" limit="all" as |pages|}}

            <div class="tag-feed four">
                {{#foreach pages}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        {{/get}}
{{/tag}}
{{!--
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
--}}
        </div>
    </div>
</main>
